div(class="container")
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Network Monitor
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://bootswatch.com/cosmo/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/mysocket.js" type="text/javascript")
  body
    div(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          a(href="#" class="navbar-brand") Network Monitor
    div(class="page")
      div(class="well")
        h1 Network
        div(class="container")
          div(class="row-fluid")
            div(class="col" id="devices")
              each connection in connections
                div(class=connection['connected'] == "1"? 'device connected' : 'device disconnected')
                  div(class="alias")
                    p= connection["alias"]
                  div(class="ip")
                    p= connection["ip"]
                  div(class="mac")
                    p= connection["MAC"]
                  div(class="timestamp")
                    p= connection["timestamp"]
              else
                div(class="col" id="devices_error")
                  p No devices connected
                  
      //- div(class="well")
      //-   h1 To-Do
      //-   div(class="container")
      //-     div(class="row-fluid")
      //-       div(class="col")
      //-         div(class="card")
      //-           form(method="POST" action="/todo")
      //-             Task: <br>
      //-             input(type="text" name="task")
      //-             input(type="submit" value="Add")
      //-           form(method="get" action="/todo")
      //-             ul(class="tasklist")
      //-               each todo in todos
      //-                 li
      //-                   label
      //-                     input(type="checkbox" name="task" class="todo-del" value=todo)
      //-                     span
      //-                       =todo
      //-             input(type="submit" value="remove")
      
      div(class="well")
        h1 Log 
        div(class="log_area")
